.python-version

data/figures
data/tesscuts
data/asteroidcuts
data/engineering
data/jpl/.DS_Store
data/jpl/tracks
data/.DS_Store
tess_asteroid_ml/__pycache__
notebooks/.ipynb_checkpoints
notebooks/.virtual_documents
notebooks/snippets
notebooks/.python-version
notebooks/data
