.python-version

data/figures
data/tesscuts
data/asteroidcuts
data/engineering
data/jpl
data/jpl/.DS_Store
data/jpl/tracks
data/.DS_Store
tess_asteroid_ml/__pycache__
notebooks/*
notebooks/.ipynb_checkpoints
notebooks/.virtual_documents
notebooks/snippets
notebooks/.python-version
notebooks/data
notebooks/figures/.DS_Store
notebooks/.DS_Store
data/jpl/*.csv
data/support/pixel_mask/.DS_Store
.DS_Store
.vscode/settings.json
notebooks/figures/*
data/upload.tar.gz
data/asteroid_lcs
data/moving_TPFs
data/pred_asteroid_tracks
data/pred_cubes
data/support
