.python-version

data/figures
data/tesscuts
data/asteroidcuts
data/engineering
data/jpl
data/jpl/.DS_Store
data/jpl/tracks
data/.DS_Store
tess_asteroid_ml/__pycache__
notebooks/.ipynb_checkpoints
notebooks/.virtual_documents
notebooks/snippets
notebooks/.python-version
notebooks/data
notebooks/figures/.DS_Store
notebooks/.DS_Store
data/jpl/*.csv
data/support/pixel_mask/.DS_Store
.DS_Store
.vscode/settings.json
notebooks/figures/.ipynb_checkpoints
notebooks/figures/tess_ffi_sector0002-1_image.pdf
notebooks/figures/tess_ffi_sector0002-1-3_image_zoom.pdf
notebooks/figures/tess_ffi_sector0002-1-4_cad0610_NN_prototype.pdf
